<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <title>Mini Profile - Free Bootstrap CSS Template</title>
  </head>
  <body>
    <!-- Welcome Section -->
    <section id="tmWelcome" class="parallax-window" data-parallax="scroll" data-image-src="img/lap-first1.jpg">
      <div class="container-fluid tm-brand-container-outer">
        <div class="row">
          <div class="col-12">
            <div class="ml-auto mr-0 tm-bg-black-transparent text-white tm-brand-container-inner">
              <div class="tm-brand-container text-center">
                <h1 class="tm-brand-name ">Mini Profile</h1>
                <p class="tm-brnand- description mb-0">YesterDay Today Tomorrow</p>
                <p class="tm-brand-description mb-0 write-text" style="letter-spacing: 1px;
">DREAM > CREATE > SUCCEED</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tm-bg-white-transparent tm-welcome-container">
        <div class="container-fluid">
          <div class="row h-100">
            <!-- Welcome Text -->
            <!-- White transparent bg -->
            <div class="col-md-7 tm-welcome-left-col">
              <div class="tm-welcome-left">
                <h2 class="tm-welcome-title">Welcome to My Profile Page</h2>
                <p class="pb-0">
                  Hi.. I'm Rajesh This is my favourite work. What you create is who you are. Rajesh is designed for the people who have the love for excellence, believe in excellence and love to create impressive things that stand out.</p>
              </div>
            </div>
            <!-- Brown bg -->
            <div class="col-md-5">
              <div class="tm-welcome-right">
                <i class="fas fa-4x fa-address-card p-3 tm-welcome-icon"></i>
                <p class="mb-0">
                  Please spread a word about templatemo website. Anyone can download free Bootstrap CSS templates.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>








<section class="ftco-section bg-light" id="skills-section">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-md-12 heading-section text-center ftco-animate fadeInUp ftco-animated">
          <span class="subheading">Skills</span>
          <h2 class="mb-4">My Skills</h2>
        </div>
      </div>
      <div class="row progress-circle mb-5">
        <div class="col-lg-4 mb-4">
          <div class="bg-white rounded-lg shadow p-4">
            <h2 class="h5 font-weight-bold text-center mb-4">CSS</h2>

            <!-- Progress bar 1 -->
            <div class="progress mx-auto" data-value="95">
              <span class="progress-left">
                <span class="progress-bar border-primary" style="transform: rotate(162deg);"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar border-primary" style="transform: rotate(180deg);"></span>
              </span>
              <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                <div class="h2 font-weight-bold">95<sup class="small">%</sup></div>
              </div>
            </div>
            <!-- END -->

            <!-- Demo info -->
            <div class="row text-center mt-4">
              <div class="col-6 border-right">
                <div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Last week</span>
              </div>
              <div class="col-6">
                <div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
              </div>
            </div>
            <!-- END -->
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="bg-white rounded-lg shadow p-4">
            <h2 class="h5 font-weight-bold text-center mb-4">HTML</h2>

            <!-- Progress bar 1 -->
            <div class="progress mx-auto" data-value="98">
              <span class="progress-left">
                <span class="progress-bar border-primary" style="transform: rotate(172.8deg);"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar border-primary" style="transform: rotate(180deg);"></span>
              </span>
              <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                <div class="h2 font-weight-bold">98<sup class="small">%</sup></div>
              </div>
            </div>
            <!-- END -->

            <!-- Demo info -->
            <div class="row text-center mt-4">
              <div class="col-6 border-right">
                <div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Last week</span>
              </div>
              <div class="col-6">
                <div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
              </div>
            </div>
            <!-- END -->
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="bg-white rounded-lg shadow p-4">
            <h2 class="h5 font-weight-bold text-center mb-4">Bootsrap</h2>
            <div class="progress mx-auto" data-value="83">
              <span class="progress-left">
                <span class="progress-bar border-primary" style="transform: rotate(118.8deg);"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar border-primary" style="transform: rotate(180deg);"></span>
              </span>
              <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                <div class="h2 font-weight-bold">83<sup class="small">%</sup></div>
              </div>
            </div>
            <div class="row text-center mt-4">
              <div class="col-6 border-right">
                <div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Last week</span>
              </div>
              <div class="col-6">
                <div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-4 mb-4">
          <div class="bg-white rounded-lg shadow p-4">
            <h2 class="h5 font-weight-bold text-center mb-4">jQuery</h2>

            <!-- Progress bar 1 -->
            <div class="progress mx-auto" data-value="68">
              <span class="progress-left">
                <span class="progress-bar border-primary" style="transform: rotate(64.8deg);"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar border-primary" style="transform: rotate(180deg);"></span>
              </span>
              <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                <div class="h2 font-weight-bold">68<sup class="small">%</sup></div>
              </div>
            </div>
            <!-- END -->

            <!-- Demo info -->
            <div class="row text-center mt-4">
              <div class="col-6 border-right">
                <div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Last week</span>
              </div>
              <div class="col-6">
                <div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
              </div>
            </div>
            <!-- END -->
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="bg-white rounded-lg shadow p-4">
            <h2 class="h5 font-weight-bold text-center mb-4">My SQL</h2>

            <!-- Progress bar 1 -->
            <div class="progress mx-auto" data-value="92">
              <span class="progress-left">
                <span class="progress-bar border-primary" style="transform: rotate(151.2deg);"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar border-primary" style="transform: rotate(180deg);"></span>
              </span>
              <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                <div class="h2 font-weight-bold">92<sup class="small">%</sup></div>
              </div>
            </div>
            <!-- END -->

            <!-- Demo info -->
            <div class="row text-center mt-4">
              <div class="col-6 border-right">
                <div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Last week</span>
              </div>
              <div class="col-6">
                <div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
              </div>
            </div>
            <!-- END -->
          </div>
        </div>

      
        <div class="col-lg-4 mb-4">
          <div class="bg-white rounded-lg shadow p-4">
            <h2 class="h5 font-weight-bold text-center mb-4">Java</h2>
            <div class="progress mx-auto" data-value="83">
              <span class="progress-left">
                <span class="progress-bar border-primary" style="transform: rotate(118.8deg);"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar border-primary" style="transform: rotate(180deg);"></span>
              </span>
              <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                <div class="h2 font-weight-bold">83<sup class="small">%</sup></div>
              </div>
            </div>
            <div class="row text-center mt-4">
              <div class="col-6 border-right">
                <div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Last week</span>
              </div>
              <div class="col-6">
                <div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="bg-white rounded-lg shadow p-4">
            <h2 class="h5 font-weight-bold text-center mb-4">Ruby</h2>
            <div class="progress mx-auto" data-value="83">
              <span class="progress-left">
                <span class="progress-bar border-primary" style="transform: rotate(118.8deg);"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar border-primary" style="transform: rotate(180deg);"></span>
              </span>
              <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                <div class="h2 font-weight-bold">83<sup class="small">%</sup></div>
              </div>
            </div>
            <div class="row text-center mt-4">
              <div class="col-6 border-right">
                <div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Last week</span>
              </div>
              <div class="col-6">
                <div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="bg-white rounded-lg shadow p-4">
            <h2 class="h5 font-weight-bold text-center mb-4">Ruby on Rails</h2>
            <div class="progress mx-auto" data-value="83">
              <span class="progress-left">
                <span class="progress-bar border-primary" style="transform: rotate(118.8deg);"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar border-primary" style="transform: rotate(180deg);"></span>
              </span>
              <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                <div class="h2 font-weight-bold">83<sup class="small">%</sup></div>
              </div>
            </div>
            <div class="row text-center mt-4">
              <div class="col-6 border-right">
                <div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Last week</span>
              </div>
              <div class="col-6">
                <div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="bg-white rounded-lg shadow p-4">
            <h2 class="h5 font-weight-bold text-center mb-4">Java Script</h2>

            <!-- Progress bar 1 -->
            <div class="progress mx-auto" data-value="95">
              <span class="progress-left">
                <span class="progress-bar border-primary" style="transform: rotate(162deg);"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar border-primary" style="transform: rotate(180deg);"></span>
              </span>
              <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                <div class="h2 font-weight-bold">95<sup class="small">%</sup></div>
              </div>
            </div>
            <!-- END -->

            <!-- Demo info -->
            <div class="row text-center mt-4">
              <div class="col-6 border-right">
                <div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Last week</span>
              </div>
              <div class="col-6">
                <div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
              </div>
            </div>
            <!-- END -->
          </div>
        </div>
      </div>
    </div>
  </section>




















    <section id="tmPortfolio">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-green">
                Project Manager
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-green">
                  New Company
                  <span class="tm-title-small">(2019 January to Present)</span>
                </h3>
                <p class="mb-0">
                  In today’s digital age, web development has become an increasingly important field as businesses and organizations rely more on their online presence to reach customers and clients. 
                </p>
              </div>
            </div>

            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-orange">
                Senior UX Designer
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-orange">
                  Studio One
                  <span class="tm-title-small">(2017 April to 2018 Dec)</span>
                </h3>
                <p class="mb-0">
                  Phasellus ac nulla egestas, malesuada dolor quis, scelerisque
                  arcu. Morbi aliquam, nunc vel blandit mattis, sapien nisl
                  convallis sem, quis hendrerit nisl tellus in lectus. Proin at
                  nibh bibendum, tincidunt mauris sit amet, porta risus. Integer
                  id malesuada ligula.
                </p>
              </div>
            </div>

            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-blue">
                Graphic Designer
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-blue">
                  Digital Com
                  <span class="tm-title-small">(2015 Jan to 2016 Dec)</span>
                </h3>
                <p class="mb-0">
                  Etiam porta est nisl, consectetur dapibus ante faucibus id.
                  Nunc ullamcorper a quam eget tincidunt. Proin vehicula mauris
                  ipsum, euismod dignissim dolor convallis ac.
                </p>
              </div>
            </div>

            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-dark-gray">
                Design School
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-dark-gray">
                  Art Design College
                  <span class="tm-title-small">
                    (2012 May to 2014 Dec)
                  </span>
                </h3>
                <p class="mb-0">
                  Etiam porta est nisl, consectetur dapibus ante faucibus id.
                  Nunc ullamcorper a quam eget tincidunt. Proin vehicula mauris
                  ipsum, euismod dignissim dolor convallis ac.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="tmContact" class="parallax-window1" data-parallax="scroll" data-image-src="img/mini-profile-bg-02.jpg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="tm-contact-items-container">
              <div class="tm-contact-item">
                <i class="fas fa-5x fa-briefcase tm-contact-item-icon"></i>
                <p class="mb-0">
                  Quisque venenatis viverra ultrices. Lorem ipsum dolor sit
                  amet. Nullam sit amet tempor nisl.
                </p>
              </div>
              <div class="tm-contact-item">
                <i class="fas fa-5x fa-building tm-contact-item-icon"></i>
                <p class="mb-0">
                  Integer id malesuada ligula. Cras in fringilla nibh, sed
                  semper turpis. Aliquam efficitur nisl nec.
                </p>
              </div>

              <div class="tm-contact-item">
                <i class="fas fa-5x fa-balance-scale tm-contact-item-icon"></i>
                <p class="mb-0">
                  Commodo id ullamcorper ac, dignissim at sapien. Nullam leo
                  massa, varius ac massa et, tincidunt imperdiet.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <form
              action="index.html"
              method="POST"
              id="tmContactForm"
              class="tm-bg-white-transparent"
            >
              <div class="form-group">
                <input
                  type="text"
                  id="contact_name"
                  name="contact_name"
                  class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                  placeholder="Name"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  id="contact_email"
                  name="contact_email"
                  class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                  placeholder="Email"
                  required
                />
              </div>
              <div class="form-group">
                <textarea
                  rows="4"
                  id="contact_message"
                  name="contact_message"
                  class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                  placeholder="Message"
                  required
                ></textarea>
              </div>
              <div class="text-center">
                <button
                  type="submit"
                  class="btn tm-btn-submit rounded-0 text-white"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- row -->
        <div class="row">
          <footer class="col-12">
            <p class="text-center tm-copyright-text">
            Copyright 2019 Mini Profile Page 
            
            - Design: <a rel="nofollow" href="https://www.facebook.com/templatemo">TemplateMo</a></p>
          </footer>
        </div>
      </div>
      <!-- container -->
    </div>
    <script>

      function detectMsBrowser() {
        using_ms_browser =
          navigator.appName == "Microsoft Internet Explorer" ||
          (navigator.appName == "Netscape" &&
            navigator.appVersion.indexOf("Edge") > -1) ||
          (navigator.appName == "Netscape" &&
            navigator.appVersion.indexOf("Trident") > -1);

        if (using_ms_browser == true) {
          alert(
            "Please use Chrome or Firefox for the best browsing experience!"
          );
        }
      }
      function setBrandMarginTop() {
        var bottomContainerHeight = $(".tm-welcome-container").height();

        $(".tm-brand-container-outer").css({
          "margin-top": -bottomContainerHeight + "px"
        });
      }

      $(function() {
        setBrandMarginTop();
        detectMsBrowser();

        // Handle window resize event
        $(window).resize(function() {
          setBrandMarginTop();
        });
      });

      !function(t,i,e,s){function o(i,e){var h=this;"object"==typeof e&&(delete e.refresh,delete e.render,t.extend(this,e)),this.$element=t(i),!this.imageSrc&&this.$element.is("img")&&(this.imageSrc=this.$element.attr("src"));var r=(this.position+"").toLowerCase().match(/\S+/g)||[];if(r.length<1&&r.push("center"),1==r.length&&r.push(r[0]),"top"!=r[0]&&"bottom"!=r[0]&&"left"!=r[1]&&"right"!=r[1]||(r=[r[1],r[0]]),this.positionX!==s&&(r[0]=this.positionX.toLowerCase()),this.positionY!==s&&(r[1]=this.positionY.toLowerCase()),h.positionX=r[0],h.positionY=r[1],"left"!=this.positionX&&"right"!=this.positionX&&(isNaN(parseInt(this.positionX))?this.positionX="center":this.positionX=parseInt(this.positionX)),"top"!=this.positionY&&"bottom"!=this.positionY&&(isNaN(parseInt(this.positionY))?this.positionY="center":this.positionY=parseInt(this.positionY)),this.position=this.positionX+(isNaN(this.positionX)?"":"px")+" "+this.positionY+(isNaN(this.positionY)?"":"px"),navigator.userAgent.match(/(iPod|iPhone|iPad)/))return this.imageSrc&&this.iosFix&&!this.$element.is("img")&&this.$element.css({backgroundImage:'url("'+this.imageSrc+'")',backgroundSize:"cover",backgroundPosition:this.position}),this;if(navigator.userAgent.match(/(Android)/))return this.imageSrc&&this.androidFix&&!this.$element.is("img")&&this.$element.css({backgroundImage:'url("'+this.imageSrc+'")',backgroundSize:"cover",backgroundPosition:this.position}),this;this.$mirror=t("<div />").prependTo(this.mirrorContainer);var a=this.$element.find(">.parallax-slider"),n=!1;0==a.length?this.$slider=t("<img />").prependTo(this.$mirror):(this.$slider=a.prependTo(this.$mirror),n=!0),this.$mirror.addClass("parallax-mirror").css({visibility:"hidden",zIndex:this.zIndex,position:"fixed",top:0,left:0,overflow:"hidden"}),this.$slider.addClass("parallax-slider").one("load",function(){h.naturalHeight&&h.naturalWidth||(h.naturalHeight=this.naturalHeight||this.height||1,h.naturalWidth=this.naturalWidth||this.width||1),h.aspectRatio=h.naturalWidth/h.naturalHeight,o.isSetup||o.setup(),o.sliders.push(h),o.isFresh=!1,o.requestRender()}),n||(this.$slider[0].src=this.imageSrc),(this.naturalHeight&&this.naturalWidth||this.$slider[0].complete||a.length>0)&&this.$slider.trigger("load")}!function(){for(var t=0,e=["ms","moz","webkit","o"],s=0;s<e.length&&!i.requestAnimationFrame;++s)i.requestAnimationFrame=i[e[s]+"RequestAnimationFrame"],i.cancelAnimationFrame=i[e[s]+"CancelAnimationFrame"]||i[e[s]+"CancelRequestAnimationFrame"];i.requestAnimationFrame||(i.requestAnimationFrame=function(e){var s=(new Date).getTime(),o=Math.max(0,16-(s-t)),h=i.setTimeout(function(){e(s+o)},o);return t=s+o,h}),i.cancelAnimationFrame||(i.cancelAnimationFrame=function(t){clearTimeout(t)})}(),t.extend(o.prototype,{speed:.2,bleed:0,zIndex:-100,iosFix:!0,androidFix:!0,position:"center",overScrollFix:!1,mirrorContainer:"body",refresh:function(){this.boxWidth=this.$element.outerWidth(),this.boxHeight=this.$element.outerHeight()+2*this.bleed,this.boxOffsetTop=this.$element.offset().top-this.bleed,this.boxOffsetLeft=this.$element.offset().left,this.boxOffsetBottom=this.boxOffsetTop+this.boxHeight;var t,i=o.winHeight,e=o.docHeight,s=Math.min(this.boxOffsetTop,e-i),h=Math.max(this.boxOffsetTop+this.boxHeight-i,0),r=this.boxHeight+(s-h)*(1-this.speed)|0,a=(this.boxOffsetTop-s)*(1-this.speed)|0;r*this.aspectRatio>=this.boxWidth?(this.imageWidth=r*this.aspectRatio|0,this.imageHeight=r,this.offsetBaseTop=a,t=this.imageWidth-this.boxWidth,"left"==this.positionX?this.offsetLeft=0:"right"==this.positionX?this.offsetLeft=-t:isNaN(this.positionX)?this.offsetLeft=-t/2|0:this.offsetLeft=Math.max(this.positionX,-t)):(this.imageWidth=this.boxWidth,this.imageHeight=this.boxWidth/this.aspectRatio|0,this.offsetLeft=0,t=this.imageHeight-r,"top"==this.positionY?this.offsetBaseTop=a:"bottom"==this.positionY?this.offsetBaseTop=a-t:isNaN(this.positionY)?this.offsetBaseTop=a-t/2|0:this.offsetBaseTop=a+Math.max(this.positionY,-t))},render:function(){var t=o.scrollTop,i=o.scrollLeft,e=this.overScrollFix?o.overScroll:0,s=t+o.winHeight;this.boxOffsetBottom>t&&this.boxOffsetTop<=s?(this.visibility="visible",this.mirrorTop=this.boxOffsetTop-t,this.mirrorLeft=this.boxOffsetLeft-i,this.offsetTop=this.offsetBaseTop-this.mirrorTop*(1-this.speed)):this.visibility="hidden",this.$mirror.css({transform:"translate3d("+this.mirrorLeft+"px, "+(this.mirrorTop-e)+"px, 0px)",visibility:this.visibility,height:this.boxHeight,width:this.boxWidth}),this.$slider.css({transform:"translate3d("+this.offsetLeft+"px, "+this.offsetTop+"px, 0px)",position:"absolute",height:this.imageHeight,width:this.imageWidth,maxWidth:"none"})}}),t.extend(o,{scrollTop:0,scrollLeft:0,winHeight:0,winWidth:0,docHeight:1<<30,docWidth:1<<30,sliders:[],isReady:!1,isFresh:!1,isBusy:!1,setup:function(){function s(){if(p==i.pageYOffset)return i.requestAnimationFrame(s),!1;p=i.pageYOffset,h.render(),i.requestAnimationFrame(s)}if(!this.isReady){var h=this,r=t(e),a=t(i),n=function(){o.winHeight=a.height(),o.winWidth=a.width(),o.docHeight=r.height(),o.docWidth=r.width()},l=function(){var t=a.scrollTop(),i=o.docHeight-o.winHeight,e=o.docWidth-o.winWidth;o.scrollTop=Math.max(0,Math.min(i,t)),o.scrollLeft=Math.max(0,Math.min(e,a.scrollLeft())),o.overScroll=Math.max(t-i,Math.min(t,0))};a.on("resize.px.parallax load.px.parallax",function(){n(),h.refresh(),o.isFresh=!1,o.requestRender()}).on("scroll.px.parallax load.px.parallax",function(){l(),o.requestRender()}),n(),l(),this.isReady=!0;var p=-1;s()}},configure:function(i){"object"==typeof i&&(delete i.refresh,delete i.render,t.extend(this.prototype,i))},refresh:function(){t.each(this.sliders,function(){this.refresh()}),this.isFresh=!0},render:function(){this.isFresh||this.refresh(),t.each(this.sliders,function(){this.render()})},requestRender:function(){var t=this;t.render(),t.isBusy=!1},destroy:function(e){var s,h=t(e).data("px.parallax");for(h.$mirror.remove(),s=0;s<this.sliders.length;s+=1)this.sliders[s]==h&&this.sliders.splice(s,1);t(e).data("px.parallax",!1),0===this.sliders.length&&(t(i).off("scroll.px.parallax resize.px.parallax load.px.parallax"),this.isReady=!1,o.isSetup=!1)}});var h=t.fn.parallax;t.fn.parallax=function(s){return this.each(function(){var h=t(this),r="object"==typeof s&&s;this==i||this==e||h.is("body")?o.configure(r):h.data("px.parallax")?"object"==typeof s&&t.extend(h.data("px.parallax"),r):(r=t.extend({},h.data(),r),h.data("px.parallax",new o(this,r))),"string"==typeof s&&("destroy"==s?o.destroy(this):o[s]())})},t.fn.parallax.Constructor=o,t.fn.parallax.noConflict=function(){return t.fn.parallax=h,this},t(function(){t('[data-parallax="scroll"]').parallax()})}(jQuery,window,document);


    </script>
  </body>
</html>


<style type="text/css">
  @media (min-width: 768px)
.container {
    max-width: 720px;
}
@media (min-width: 576px)
.container {
    max-width: 540px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
<%# .container {
    max-width: 1500px;
} %>

.text-center{
    font-weight: 700;
    font-size: 27px;
}
  .description{
    margin-top: 27px;
    color: gold;
    font-size: 20px;
    /* padding-bottom: 24px; */
    letter-spacing: 4px;
  }

.subheading {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #b1b493;
    letter-spacing: 5px;
}

.heading-section h2 {
    font-size: 45px;
    font-weight: 650;
    letter-spacing: 3px;
}

  .ftco-section {
  padding: 7em 0;
  position: relative; }
  @media (max-width: 767.98px) {
    .ftco-section {
      padding: 6em 0; } }



.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
@media (min-width: 992px)
.col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 
 .progress-circle .progress {
    width: 150px;
    height: 150px;
    background: none;
    position: relative;
}
.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}


:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
   

}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.progress-circle .progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 
 .progress-circle .h4 {
    color: #b1b493;
    font-size: 22px;
}
.progress-circle .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    -ms-transform-origin: center left;
    transform-origin: center left;
    border-color: #b1b493 !important;
}
.progress-circle .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.border-primary {
    border-color: #007bff !important;
}
.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    -webkit-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}


.progress-circle .progress .progress-left {
    left: 0;
}
.progress-circle .progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.progress-circle .progress {
    width: 150px;
    height: 150px;
    background: none;
    position: relative;
}
.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}

.progress-circle .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    -ms-transform-origin: center right;
    transform-origin: center right;
    border-color: #b1b493 !important;
}
.progress-circle .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.border-primary {
    border-color: #007bff !important;
}
.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    -webkit-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

 
 .progress-circle .progress .progress-right {
    right: 0;
}
.progress-circle .progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.font-weight-bold {
    font-weight: 700 !important;
}
@media (min-width: 992px)
.col-lg-4 {
     -webkit-box-flex: 0; 
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
     max-width: 33.33333%; 
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

 
 
 
 
 

</style>